html {
    scroll-behavior: smooth;
}

header,
section,
footer {
    width: clamp(6.25rem, 100%, 90rem);
    margin-inline: auto;
    font-family: 'Manrope', sans-serif;
}

header {
    min-height: 754px;

}

.relative {
    position: relative;
}

.none,
.mobile_banner1,
.burger_icon,
.nav_text,
.ipad_banner1,
.meet_img2,
.user_img2,
.meet_img3,
.user_img3 {
    display: none;
}

/* FONTS STYLE */
.navigation_heading {
    font-size: 4rem;
    font-weight: 800;
    line-height: 5.125rem;
}

.navigation_description,
.nav_text {
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: .0125rem;
}

.card_title {
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: 1.875rem;
}

.card_describe {
    font-size: 1.5rem;
    line-height: 2.4688rem;
    letter-spacing: .0125rem;
}

.card_about {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: .0125rem;
}

/* Header Section */
.desktop_banner1,
.mobile_banner1,
.ipad_banner1 {
    position: absolute;
}

.navigation_warpper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem .0625rem 8.75rem 4.8125rem;
}

.navigation_bar,
.nav_links {
    display: flex;
    gap: 2.5rem;
}

.login_button {
    padding: .625rem 1.25rem;
    border-radius: .3125rem;
    background: #F84646;
}

.navigation_info {
    width: clamp(6.25rem, 100%, 40.625rem);
    display: flex;
    flex-direction: column;
    gap: 6.375rem;
}

.header_content_container {
    padding: 2.5rem 8.4375rem 0 7.625rem;
}

.header_content_container,
.desktop_banner1 {
    width: clamp(6.25rem, 100%, 90rem);
}

.desktop_banner1 {
    width: clamp(23.4375rem, 100%, 90rem);
}

/* Course Card  Section*/
.course_card_section,
.course_card,
.register_section,
.footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.course_card {
    position: relative;
    width: clamp(23.4375rem, 100%, 72.6875rem);
    min-height: 50.125rem;
    /* gap: 6.25rem; */
}

.card_details {
    width: clamp(23.4375rem, 100%, 62.125rem);
    min-height: 12.1875rem;
    margin-inline: auto;
    text-align: center;
    margin-top: 7.5rem;
}

.card_board {
    width: clamp(23.4375rem, 100%, 62.125rem);
    height: 508px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.board_box {
    width: 18.625rem;
    text-align: center;
}

/* Registration Section */
.registration_container {
    width: clamp(23.4375rem, 100%, 74.8125rem);
    min-height: 67.5rem;
    /* margin-top: 10.875rem; */
}

.registration_container,
.register_item,
.mobile_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.register_item,
.mobile_item {
    width: clamp(23.4375rem, 100%, 38rem);
    min-height: 30rem;
}

.staff_describe {
    font-size: 1rem;
    line-height: 2rem;
}

.add_button {
    width: 10rem;
    padding: 12px;
    border-radius: .5rem;
    background: #F84646;
}

/* Footer Section */
.footer_section {
    min-height: 32.4375rem;
    margin-top: 5.4375rem;
    color: #E6E6E6;
    background-color: #F84646;
}

.footer_container {
    width: clamp(23.4375rem, 100%, 74.25rem);
    min-height: 24.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Services_box {
    max-width: 15.5625rem;
    height: 18.375rem;
}

.Services_box li {
    line-height: 3.6875rem;
}

.copyright_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Media Query 1024px (headline section) */
@media only screen and (max-width: 64rem) {

    /* Header Section */
    .ipad_banner1 {
        width: clamp(23.4375rem, 100%, 1024px);
        display: block;
    }

    .navigation_warpper {
        justify-content: flex-end;
        gap: 7.5rem;
    }

    .header_content_container {
        padding: 2.1875rem 7.3125rem;
    }

    .navigation_info {
        gap: 5.8125rem;
    }

    /* Course Card  Section*/
    .card_board {
        width: clamp(23.4375rem, 100%, 47.75rem);
        flex-wrap: wrap;
        height: 71.8572rem;
    }

    .course_card {
        min-height: 71.8572rem;
    }

    header {
        min-height: 646px;
    }

    .register_item {
        width: clamp(23.4375rem, 100%, 428px)
    }

    .user_img1,
    .meet_img1 {
        display: none;
    }

    .meet_img2,
    .user_img2 {
        display: block;
    }

    .registration_container {
        width: 90%;
    }

    .footer_container {
        width: 90%;

    }

    .Services_box {
        width: 184px;
    }

    .Services_box:nth-child(2) {
        width: 266px;
    }

    .copyright_item {
        height: 3rem;

    }

    .icon_box {
        display: flex;
        align-self: end;
    }
}


/*Media Query 1035px */
@media only screen and (min-width: 378px) and (max-width: 1023px) {

    .header_content_container,
    .navigation_info {
        display: none;
    }

    .course_card {
        margin: 2.5rem auto;
    }

    header {
        height: 21.125rem;
    }

    .card_board {
        justify-content: center;
    }
}

/*Media Query 375px */
@media only screen and (max-width: 23.4375rem) {

    /* Header section */
    .header_content_container,
    .mobile_banner1,
    .burger_icon,
    .nav_text,
    .user_img2,
    .meet_img3,
    .user_img3 {
        display: block;
    }

    .navigation_bar,
    .ipad_banner1,
    .navigation_description,
    .user_img1,
    .meet_img2,
    .user_img2,
    .icon_box {
        display: none;
    }

    .header_content_container {
        padding: 2.1875rem 1.25rem;
    }

    .navigation_warpper {
        margin: 0 0 4.125rem 0;
        justify-content: space-between;
    }

    .navigation_info {
        gap: 7.1875rem;
        text-align: center;
    }

    .navigation_heading {
        font-size: 2.625rem;
    }

    .nav_text {
        width: clamp(6.25rem, 100%, 20.125rem);
    }

    /* Course Card  Section*/
    .card_board {
        /* gap: 78px; */
        justify-content: center;
    }

    .card_describe {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    .card_board,
    .course_card {
        height: 104.0625rem;
    }

    .card_board {
        gap: 0px;
    }

    .register_item {
        height: 36.0625rem;
        text-align: center;
        align-content: space-around;
    }

    .registration_container {
        height: 1724px;
    }

    .add_button {
        width: 21.125rem;
        padding: .75rem;
        height: 5.25rem;
        margin: 2.5rem 0 0;
    }

    /* Footer Section */
    .footer_section,
    .footer_container {
        height: 83.75rem;
    }

    .copyright_item {
        height: 8.6875rem;
        align-items: center;
    }

    .Services_box:nth-child(2) {
        height: 15.5rem;
    }

    .Services_box:nth-child(3) {
        height: 12rem;
    }

    .Services_box:nth-child(4) {
        height: 8.5rem;
    }
}